# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    app.stripe:
        api_key: pk_test_vf58lIDGzCQTeenFAoqgtm97
    app.email:
        send_by: tracker688@gmail.com
        received_by: tracker688@gmail.com
        client_id: 997874586801-dnf3mp95p3k7v9ubn0ek4h03jg86o817.apps.googleusercontent.com
        client_secret: 5gH6gu4ykudnH1V48V62ahBu
        refresh_token: 1/JSWceIGGxUHkEc21n92Z9QXuzggSBThcPCcAW0u7n4AMEudVrK5jSpoR30zcRFq6